* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cart-header {
    font-family: 'Black Ops One', cursive;
    font-size: 75px;
}

.cart-empty {
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
}

.cart-info-con {
    display: flex;
    margin-right: auto;
}

.item-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
}

.item-name {
    font-family: 'Black Ops One', cursive;
    font-size: 25px;
    text-align: left;
}

.rule {
    width: 80%;
    margin-left: 10%;
}

.quant-count {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 20px;
    line-height: .9;
}

.count {
    margin-left: 1%;
    line-height: 1;
}

.plus, .minus {
    height: 15px;
    font-family: 'Black Ops One', cursive;
    line-height: .2;
    display: flex;
    border-radius: 0;
    width: 25px;
    padding-left: 9px;
    margin-left: 1%
}

.price {
    font-family: 'Black Ops One', cursive;
    width: 150px;
    font-size: 20px;
}

.remove {
    margin-left: 10%;
    color: red;
    width: 100px;
}
