* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cart-header {
    font-family: 'Black Ops One', cursive;
    font-size: 75px;
}

.cart-empty {
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
}

.cart-info-con {
    display: flex;
    margin-right: auto;
}

.item-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
}

.item-name {
    font-family: 'Black Ops One', cursive;
    font-size: 25px;
    text-align: left;
}

.rule {
    width: 80%;
    margin-left: 10%;
}

.quant-count {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 20px;
    line-height: .9;
}

.count {
    margin-left: 1%;
    line-height: 1;
}

.plus, .minus {
    height: 15px;
    font-family: 'Black Ops One', cursive;
    line-height: .2;
    display: flex;
    border-radius: 0;
    width: 25px;
    padding-left: 9px;
    margin-left: 1%
}

.price {
    font-family: 'Black Ops One', cursive;
    width: 150px;
    font-size: 20px;
}

.remove {
    margin-left: 10%;
    color: red;
    width: 100px;
}

.remove:hover {
    text-decoration: underline;
}

.total-price {
    width: 30%;
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    margin-left: 10%;
    text-align: left;
}

.order-button {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    background-color: #3D0D7C;
    border-radius: 60px;
    padding: 15px 25px 15px 25px;
}

.order-button:hover {
    background-color: white;
    color: #3D0D7C;
    border: 1px solid #3D0D7C;
}

.confirmed-con {
    width: 80%;
    background-color: #3D0D7C;
    margin-left: 10%;
    border-radius: 50px;
}

.confirmed-header {
    font-family: 'Black Ops One', cursive;
}

.confirmed-text {
    width: 70%;
    font-family: 'Noto Sans Mono', monospace;
    margin-left: 15%;
}

.confirmed-button {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    background-color: #C9FF14;
    border-radius: 60px;
    padding: 15px 25px 15px 25px;
}

.confirmed-button:hover {
    background-color: black;
    color: #C9FF14;
    border: 1px solid #C9FF14;
}

.quant-con {
    display: flex;
}

@media screen and (max-width: 968px) and (min-width: 768px) {
    
    .item-container {
        flex-direction: column;
    }

    .cart-info-con {
        flex-direction: column;
    }

    .price {
        margin-top: 4%;
        text-align: left;
    }

    .quant-con {
        display: flex;
        margin-top: 4%;
        margin-bottom: 2%;
    }

}

@media screen and (max-width: 768px) and (min-width: 475px) {
    
    .cart-header {
        font-size: 60px;
    }

    .item-container {
        flex-direction: column;
    }

    .cart-info-con {
        flex-direction: column;
    }

    .price {
        margin-top: 4%;
        text-align: left;
    }

    .quant-con {
        display: flex;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    .total-price {
        width: 100%;
    }

    .cart-button-con-main {
        margin-top: 100px;
    }

    .minus {
        margin-left: 5%;
    }

    .confirmed-header {
        font-size: 40px;
    }

    .confirmed-text {
        font-size: 14px;
    }

    .confirmed-button {
        font-size: 20px;
    }

}

@media screen and (max-width: 475px) {
    
    .cart-header {
        font-size: 60px;
    }

    .item-name {
        font-size: 20px;
    }

    .quant-count {
        font-size: 15px;
    }

    .item-container {
        flex-direction: column;
    }

    .cart-info-con {
        flex-direction: column;
    }

    .price {
        margin-top: 4%;
        text-align: left;
        font-size: 15px;
    }

    .quant-con {
        display: flex;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    .total-price {
        width: 80%;
        font-size: 20px;
    }

    .cart-button-con-main {
        margin-top: 100px;
    }

    .order-button {
        font-size: 20px;
    }

    .minus {
        margin-left: 5%;
        font-size: 12px;
        line-height: .1;
    }

    .plus {
        margin-left: 5%;
        font-size: 12px;
        line-height: .1;
    }

    .count {
        margin-left: 5%;
    }

    .confirmed-header {
        font-size: 25px;
    }

    .confirmed-text {
        font-size: 12px;
    }

    .confirmed-button {
        font-size: 18px;
    }

}