* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.socials-div {
    width: 80%;
    text-align: left;
}

.contact-header-1 {
    font-family: 'Black Ops One', cursive;
    font-size: 100px;
}

.contact-header-2 {
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
}

.contact-form-container {
    width: 85%;
    text-align: left;
}

.contact-form {
    padding-left: 50px;
    padding-top: 30px;
}

.form-headers {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
}

.form-input {
    margin-top: 15px;
    font-size: 25px;
    background-color: white;
    border: none;
    width: 50%;
    color: black;
    padding-left: 15px;
}

.form-text {
    margin-top: 15px;
    background-color: white;
    color: black;
    font-size: 25px;
    padding-left: 15px;
}

.form-button-con {
    display: flex;
    justify-content: center;
}

.form-button {
    font-family: 'Black Ops One', cursive;
    font-size: 35px;
    height: 60px;
    line-height: 20px;
    width: 25%;
    color: #3D0D7C;
    background-color: #C9FF14;
    border-radius: 50px;
}

.form-button:hover {
    background-color: black;
    border: 1px solid #C9FF14;
    color: #C9FF14;
}