* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.acid {
    color: #C9FF14;
}

.white {
    color: white;
}

.home-header-1 {
    font-family: 'Black Ops One', cursive;
    font-size: 150px;
}

.home-subheadings {
    font-family: 'Black Ops One', cursive;
    font-size: 50px; 
    width: 80%;
    line-height: normal;
}

.sec-1-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3D0D7C;
    background-image: url('./assets/spartan.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mogged-text {
    width: 60%;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}

.home-button-1 {
    font-size: 30px;
    border-radius: 40px;
    font-family: 'Black Ops One', cursive;
    background-color: rgb(14, 12, 12);
}

.home-button-1:hover {
    color: #C9FF14;
    border: 1px solid #C9FF14;
}