* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shop-header {
    font-family: 'Black Ops One', cursive;
    font-size: 100px;
}

.shop-caption {
    font-family: 'Black Ops One', cursive;
    font-size: 25px;
}

.card-container {
    width: 90%;
    display: flex;
}

.card {
    width: 25%;
    height: 100px;
    border: 2px solid black;
    margin-top: 100px;
}